@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  background: url('https://i.pinimg.com/736x/1b/67/a0/1b67a0c528e93dcc7bdbd7ff91956335.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}
.layout {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.effect {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.toolbar {
  flex: 0 0 60px;
  display: flex;
  align-items: center;
}
.logo {
  color: #00A36C;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 90px;
  height: 45px;
  object-fit: cover;
}
.nav-large {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: auto;
}
@media screen and (max-width: 500px) {
  .nav-large {
    display: none;
  }
}
.nav-small {
  display: none;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 500px) {
  .nav-small {
    display: flex;
  }
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px 10px;
  margin: 10px;
  cursor: pointer;
  border-radius: 6px;
  user-select: none;
}
.nav-item:hover {
  background: rgba(0,0,0,0.1);
}
.contact-us {
  user-select: none;
  color: white;
  padding: 5px 10px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 6px;
  background: #00A36C;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.contact-us:hover {
  background: rgba(0,0,0,0.1);
}
.fill-width {
  width: 100%;
}
.main {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  display: flex;
  transition: 0.3s;
  overflow: auto;
}
.drawer-content {
  width: 70%;
  height: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.drawer-item {
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid white;
  border-radius: 6px;
}
.drawer-item:hover {
  background: rgba(0,0,0,0.1);
}
.drawer-close {
  width: 30%;
  height: 100%;
}
.drawer-top {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 0;
  width: 100%;
  transition: 0.3s;
  overflow: hidden;
}
.contact .view {
  height: 50%;
  width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}
@media screen and (max-width: 500px) {
  .contact .view {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
.fit-layout {
  padding: 15px 20px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
input {
  width: 100%;
  height: 45px;
  border-radius: 6px;
  border: none;
  outline: none;
  margin: 5px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
textarea {
  width: 100%;
  height: 300px;
  margin: 5px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  resize: none;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
input[type="button"] {
  background: #00A36C;
}
input[type="button"]:hover {
  background: rgba(0,0,0,0.1);
}

.one {
  background: url("https://i.pinimg.com/736x/59/c6/b9/59c6b9feb14c75349e49ad1e1f10e2bb.jpg")
  no-repeat 50% 50% / cover;
}
.two {
  background: url("https://i.pinimg.com/736x/ef/d2/cc/efd2cc8ca6f5bc0aa2d38fcc0383c69a.jpg")
  no-repeat 50% 50% / cover;
}
.three {
  background: url("https://i.pinimg.com/736x/57/b1/83/57b183ae1ed4ae5eebe8decc10ec150e.jpg")
  no-repeat 50% 50% / cover;
}
.four {
  background: url("https://i.pinimg.com/736x/59/c6/b9/59c6b9feb14c75349e49ad1e1f10e2bb.jpg")
  no-repeat 50% 50% / cover;
}
.five {
  background: url("https://i.pinimg.com/736x/ef/d2/cc/efd2cc8ca6f5bc0aa2d38fcc0383c69a.jpg")
  no-repeat 50% 50% / cover;
}
.six {
  background: url("https://i.pinimg.com/736x/57/b1/83/57b183ae1ed4ae5eebe8decc10ec150e.jpg")
  no-repeat 50% 50% / cover;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery .list {
  list-style: none;
  columns: 2;
  padding: 0 12px;
  margin: 5px;
  gap: 10px;
}
@media screen and (max-width: 500px) {
  .gallery .list {
    columns: 1;
  }
}
.gallery .images {
  list-style: none;
  columns: 6 200px;
  padding: 0 12px;
  margin: 5px;
  gap: 10px;
}
@media screen and (max-width: 500px) {
  .gallery .images {
    columns: 2 100px;
  }
}
.gallery .images .card {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border-radius: 6px;
  margin-bottom: 10px;
}
.card img {
  width: 100%;
}
.card .title {
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0.3s;
  position: absolute;
  bottom: -100px;
  color: white;
}
.card img:hover {
  transition: bottom 0.3s ease;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}
.card:hover .title {
  bottom: 0;
}

.profile{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.center-layout{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}
.horizontal-layout{
  display: flex;
  align-items: center;
}
.horiz-scroll {
  overflow-x: auto;
  display: flex;
}

.divider{
  padding: 10px;
  width: 100%;
}
.mg-top-bottom{
  margin: 10px 0 10px 0;
}
.sample-layout{
  width: 100%;
  height: 600px;
}
@media screen and (max-width: 500px){
  .sample-layout{
  height: 300px;
}
}
/*--Arcived---*/