@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;
}

html, body {
 width: 100%;
 height: 100%;
 background: url('https://i.pinimg.com/736x/1b/67/a0/1b67a0c528e93dcc7bdbd7ff91956335.jpg') no-repeat center center fixed;
 background-size: cover;
 overflow: hidden;
}
.layout {
 display: flex;
 flex-direction: column;
 overflow: hidden;
 width: 100%;
 height: 100%;
}
.effect {
 background: rgba(255, 255, 255, 0.3);
 backdrop-filter: blur(10px);
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.toolbar {
 flex: 0 0 60px;
 display: flex;
 align-items: center;
}
.logo {
 color: #00A36C;
 user-select: none;
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 10px;
 width: 90px;
 height: 45px;
 object-fit: cover;
}
.nav-large {
 display: flex;
 align-items: center;
 width: 100%;
 overflow: auto;
}
@media screen and (max-width: 500px) {
 .nav-large {
  display: none;
 }
}
.nav-small {
 display: none;
 align-items: center;
 width: 100%;
}
@media screen and (max-width: 500px) {
 .nav-small {
  display: flex;
 }
}
.nav-item {
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
 padding: 5px 10px;
 margin: 10px;
 cursor: pointer;
 border-radius: 6px;
 user-select: none;
}
.nav-item:hover {
 background: rgba(0,0,0,0.1);
}
.contact-us {
 user-select: none;
 color: white;
 padding: 5px 10px;
 margin: 10px;
 cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
 border-radius: 6px;
 background: #00A36C;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.contact-us:hover {
 background: rgba(0,0,0,0.1);
}
.fill-width {
 width: 100%;
}
.main {
 flex: 1;
 overflow-y: auto;
 overflow-x: hidden;
}

.drawer {
 position: fixed;
 top: 0;
 left: 0;
 width: 0;
 height: 100%;
 display: flex;
 transition: 0.3s;
 overflow: auto;
}
.drawer-content {
 width: 70%;
 height: 100%;
 padding: 10px;
 background: rgba(255, 255, 255, 0.3);
 backdrop-filter: blur(10px);
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.drawer-item {
 padding: 10px;
 margin: 10px;
 border-bottom: 1px solid white;
 border-radius: 6px;
}
.drawer-item:hover {
 background: rgba(0,0,0,0.1);
}
.drawer-close {
 width: 30%;
 height: 100%;
}
.drawer-top {
 width: 100%;
 height: 100px;
 display: flex;
 align-items: center;
 justify-content: center;
 object-fit: cover;
}
.contact {
 display: flex;
 align-items: center;
 justify-content: center;
 position: fixed;
 bottom: 0;
 right: 0;
 height: 0;
 width: 100%;
 transition: 0.2s;
 overflow: hidden;
}
.contact .view {
 height: 50%;
 width: 50%;
 overflow: hidden;
 display: flex;
 flex-direction: column;
 border-radius: 6px;
}
.contact h1 {
 padding: 0 20px;
}
@media screen and (max-width: 500px) {
 .contact .view {
  width: 100%;
  height: 100%;
  border-radius: 0;
 }
}
.fit-layout {
 flex: 1;
 padding: 15px 20px;
 width: 100%;
 height: 100%;
 overflow-y: auto;
}
input {
 width: 100%;
 height: 45px;
 border-radius: 6px;
 border: none;
 outline: none;
 margin: 5px;
 padding: 10px;
 background: rgba(255, 255, 255, 0.3);
 backdrop-filter: blur(10px);
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
textarea {
 flex: 1;
 width: 100%;
 margin: 5px;
 padding: 10px;
 border-radius: 6px;
 border: none;
 outline: none;
 resize: none;
 background: rgba(255, 255, 255, 0.3);
 backdrop-filter: blur(10px);
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
input[type="button"] {
 color: white;
 background: #00A36C;
}
input[type="button"]:hover {
 background: rgba(0,0,0,0.1);
}

.intro {
 display: flex;
 padding: 30px;
}
.intro .part1 {
 width: 50%;
 padding: 30px;
}
.intro .part2 {
 width: 50%;
}
.intro .swiper {
 width: 100%;
 height: 350px;
}
.swiper-slide {
 position: relative;
 border-radius: 6px;
}
.swiper-button-prev {
 color: white!important;
}
.swiper-button-next {
 color: white!important;
}
.swiper-pagination-bullet {
 background-color: white!important;
}
.swiper-pagination-bullet-active {
 width: 10px!important;
 height: 10px!important;
 background-color: #00A36C!important;
}
@media screen and (max-width: 500px) {
 .intro {
  display: block;
  padding: 20px;
 }
 .intro .part1 {
  width: 100%;
  padding: 0;
  margin-bottom: 30px;
 }
 .intro .part2 {
  width: 100%;
 }
 .intro .swiper {
  width: 100%;
  height: 200px;
 }
}
.swiper-slide div {
 display: none;
}

.swiper-slide-active div {
 position: absolute;
 bottom: 25px;
 transition: 0.5s;
 display: block;
 padding: 10px;
 text-align: center;
}
.swiper-slide-active div h2 {
 color: white;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}
.swiper-slide-active div p {
 color: white;
 display: -webkit-box;
 -webkit-line-clamp: 2;
 -webkit-box-orient: vertical;
 overflow: hidden;
}
.swiper-slide-active div span {
 text-align: center;
 padding: 5px 10px;
 cursor: pointer;
 border-radius: 6px;
 user-select: none;
}
.gallery {
 display: flex;
 flex-direction: column;
 align-items: center;
}
.list {
 list-style: none;
 columns: 3;
 padding: 10px 10%;
 margin: 10px;
 gap: 10px;
}
.list .pitem {
 margin-bottom: 10px;
}
@media screen and (max-width: 800px) {
 .list {
  columns: 2;
 }
}
@media screen and (max-width: 500px) {
 .list {
  columns: 1;
  padding: 10px;
 }
}
.images {
 list-style: none;
 columns: 6;
 padding: 10px 10%;
 margin: 10px;
 gap: 10px;
}
@media screen and (max-width: 800px) {
 .images {
  columns: 3;
 }
}
@media screen and (max-width: 500px) {
 .images {
  columns: 2;
  padding: 10px;
 }
}
.images .card {
 display: flex;
 cursor: pointer;
 overflow: hidden;
 position: relative;
 border-radius: 6px;
 margin-bottom: 10px;
}
.card img {
 width: 100%;
 height: 200px;
 object-fit: cover;
}
.card .title {
 padding: 10px;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
 transition: 0.3s;
 position: absolute;
 bottom: -100px;
 color: white;
}
.card img:hover {
 transition: bottom 0.3s ease;
 background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}
.card:hover .title {
 bottom: 0;
}
@media screen and (max-width: 500px) {
 .card img {
  height: 100px;
 }
}
.listview {
 list-style: none;
 padding: 10px 10%;
}
.listview article {
 display: flex;
 align-items: center;
 margin: 10px 10px 0 10px;
 border-radius: 6px;
 border: 1px solid #ddd;
}
.listview article:hover {
 background: rgba(0,0,0,0.3);
}
.listview article img {
 width: 100px;
 height: 100px;
 object-fit: cover;
 margin: 10px;
 border-radius: 5px;
}
.listview article .row {
 margin: 10px 0 10px 10px;
}
.listview article .row h3 {}
.listview article .row p {
 display: -webkit-box;
 -webkit-line-clamp: 2;
 -webkit-box-orient: vertical;
 overflow: hidden;
}
@media screen and (max-width:500px) {
 .listview {
  padding: 10px;
 }
}
.profile {
 width: 90px;
 height: 90px;
 border-radius: 50%;
 object-fit: cover;
}

.center-layout {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 width: 100%;
 padding: 20px;
}
.horizontal-layout {
 display: flex;
 align-items: center;
}
.horiz-scroll {
 overflow-x: auto;
 display: flex;
}

.divider {
 padding: 10px;
 width: 100%;
}
.mg-top-bottom {
 margin: 10px 0 10px 0;
}
.sample-layout {
 width: 100%;
 height: 100vh;
}
/*--Arcived---*/