* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: Arial, Sans-Serif;
}
:root {
 --primary: blue;
 --primary-text: white;
}

/* Assign custom properties to themes */
@media (prefers-color-scheme: light) {
:root {
 --color: black
 --background: white;
 --color-hint: gray;
}
}

@media (prefers-color-scheme: dark) {
:root {
 --color: white;
 --background: black;
 --color-hint: #ccc;
}
}
html, body{
 width: 100%;
 height: 100%;
 color: var(--color);
 background: var(--background);
}
h1 {
 text-align: center;
 padding: 20px;
}
h2,h3,h4,h5,h6,ul {
 padding: 10px 10%;
}
ul li {
 list-style-position: inside;
 padding: 0 10px;
}
p {
 padding: 10px 10%;
}
@media screen and (max-width:500px) {
 h2,h3,h4,h5,h6,ul {
  padding: 10px 20px;
 }
 p {
  padding: 10px 20px;
 }
}
footer {
 color: var(--color-hint);
 text-align: center;
 padding: 20px;
 font-size: 12px;
}
footer a {
 color: var(--color);
 text-decoration: none;
 font-size: 15px;
 font-weight: bold;
}

/* Style the form fields */
form {
 padding: 5% 25%;
}
@media screen and (max-width:500px) {
 form {
  padding: 5%;
 }
}
form label {
 display: block;
 margin-bottom: 5px;
}

form input,
form textarea {
 width: 100%;
 padding: 10px 20px;
 margin-bottom: 15px;
 border: 1px solid #ccc;
 border-radius: 5px;
}
form input:focus, form textarea:focus{
  outline: blue;
}

form button {
 width: 100%;
 background: blue;
 color: white;
 padding: 10px 20px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}
/* Media queries for responsiveness */
@media screen and (max-width: 500px) {
 form input,
 form textarea,
 form button {
  width: 100%;
 }
}
/* App Details */
.cover{
 padding: 10px 10%;
 display: flex;
}
.cover .cover-content{
 flex: 1;
 width: 100%;
 display: flex;
 flex-direction: column;
}
.cover-content .row{
 display: flex;
 align-items: center;
 justify-content: center;
}
.cover-content .row img{
 border-radius: 6px;
 object-fit: cover;
 width: 50px;
 height: 50px;
 margin: 10px;
}
.cover-content .row a{
 text-decoration: none;
 color: blue;
}
.cover-content .row span, .cover-content .row b{
 color: var(--color-hint);
 font-size: 15px;
}
.cover-content .row .l{
 width: 1px;
 height: 30px;
 background: var(--color-hint);
 margin: 15px;
}
.cover-content .cover-button{
 margin: 10px 0 20px 0;
 color: white;
 background: blue;
 padding: 10px 20%;
 border-radius: 6px;
 border: none;
 outline: none;
}
.cover-content .cover-image{
 width: 100%;
 object-fit: cover;
 border-radius: 6px;
}
@media screen and (max-width: 500px){
 .cover{
  padding: 10px 20px;
 }
 .cover-content .row span, .cover-content .row b{
 font-size: 12px;
}
}

/*--Optional--*/
.def{
 padding: 0;
 margin: 0;
}
.nopm{
 padding: 0;
 margin: 0;
}